@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.noChatSelected {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: var(--text-color);
  padding: 20px;
}

.noChatIcon {
  max-width: 250px;
  margin-bottom: 20px;
  /* animation: pulse 1.5s infinite ease-in-out; */
}

.noChatSelected h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.noChatSelected p {
  color: var(--text-color);
  margin-top: 10px;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 500;
}

.addFriendsButton {
  background-color: #fff;
  color: #1f2533;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 15px;
  /* animation: pulse 1.5s infinite ease-in-out; */
}

.addFriendsButton:hover {
  background-color: #e5e5e5;
  transition: background-color 0.3s ease;
  animation: pulse 1.5s infinite ease-in-out;
}

.addFriendsButton:focus {
  outline: none;
}

@media (max-width: 768px) {
  .noChatIcon {
    max-width: 200px;
  }

  .noChatSelected h2 {
    font-size: 1.5em;
  }

  .noChatSelected p {
    font-size: 0.9em;
  }

  .addFriendsButton {
    padding: 8px 15px;
    font-size: 0.9em;
  }
}
