.resetPassContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.resetPassBox {
    /* width: 500px; */
    /* height: 600px; */
    border-radius: 25px;
    padding: 5rem;
    gap: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-surface-tertiary);
}

.boxHeader {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.boxHeader img {
    width: 150px;
    /* height: 150px; */
}

.boxHeader h1 {
    font-size: 2.7rem;
    letter-spacing: 2px;
}

.resetPassForm {
    /* width: 80%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.containerFiled {
    /* width: 80%; */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
}

.inputContainer {
    display: flex;
    width: 280px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.label {
    font-size: 1.5rem;
    color: #D1D3D4;
}

.input {
    width: 100%;
    height: 50px;
    background: #41506b;
    border: none;
    border-radius: 10px;
    padding: 15px;
    padding-right: 50px;
    font-size: 1.4rem;
    color: #D1D3D4;
}

.showPassIcon {
    position: absolute;
    left: calc(100% - 40px);
    font-size: 2.5rem;
    cursor: pointer;
}

.ConfirmButtons {
    width: 80%;
    display: flex;
    justify-content: end;
    gap: 4rem;
}

.fieldError {
    color: #AA2926;
    font-size: 1.2rem;
    font-weight: 800;
}

.ConfirmButtons {
    width: 80%;
    display: flex;
    justify-content: end;
    gap: 4rem;
}

.confirmBtn, .closeBtn {
    background-color: #0E1725;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 40px;
    padding: 10px 15px;
    font-size: 1.6rem;
    border-radius: 8px;
    cursor: pointer;
    color: #D1D3D4;
}

.confirmBtn:hover, .closeBtn:hover {
    background-color: #1E2533;
    color: #ffffff;
}

.confirmBtn {
    border: 1px solid #F8C25C;
}

.closeBtn {
    border: 1px solid #AA2926;
}
