.sentRequests {
  padding: 20px;
  height: 100%;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #6c757d #394056;
}

.userInfo {
  flex-grow: 1;
}

.timestamp {
  display: block;
  font-size: 13px;
  color: #888;
}

.title {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 500;
  color: #d0d8e7;
}

.list {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  overflow-y: auto;
}

.requestCard {
  width: 98%;
  display: flex;
  align-items: center;
  background-color: #394056;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.2s ease, background-color 0.3s;
}

.requestCard:hover {
  transform: scale(1.01);
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.avatar:hover {
  border: 2px solid #f8c25c;
}

.username {
  display: block;
  font-weight: bold;
  cursor: pointer;
}

.username:hover {
  color: #f8c25c;
  scale: 1;
}
.cancelButton {
  padding: 8px 10px;
  background-color: #1e2533;
  color: #f8f3e3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s;
}

.cancelButton:hover {
  background-color: #e53935; 
}

