.editInfosContainer {
    background-color: #1E2533;
    /* height: calc(100% - 55px); */
    width: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 3rem;
}

.title {
    align-self: flex-start;
    /* width: 90%; */
    font-size: 2.2rem;
    font-weight: bold;
}

.editInfosBody {
    /* border: 1px solid #F8C25C; */
    /* background-color: #1E2533; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 2rem; */
    /* padding: 2rem; */
}

.editInfosForm {
    /* border: 1px solid #F8C25C; */
    /* background-color: #1E2533; */
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid white; */
    gap: 2rem;
    padding: 2rem;
}

.emailContainer {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #394056;
    display: flex;
    /* align-items: center; */
    width: 100%;
    flex-direction: column;
    color: var(--text-color);

}

.editAvatar {
    /* border: 1px solid #F8C25C; */
    /* width: 80%; */
    /* height: 20%; */
    display: flex;
    align-items: center;
    gap: 5rem;
    width: 100%;
}

.avatarContainer {
    overflow: hidden;
    /* background-color: red; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #F8C25C;
}

.avatarContainer img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.defaultAvatar {
    background-color: #ffffff;
}

.avatarButtons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 250px;
    /* width: 60%; */
}

.avatarBtn, .removeAvatarBtn {
    background-color: #0E1725;
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
    color: #D1D3D4;
}

.avatarBtn:hover, .removeAvatarBtn:hover {
    background-color: #1E2533;
    color: white;
}

.avatarBtn {
    border: 1px solid #F8C25C;
}

.removeAvatarBtn {
    border: 1px solid #AA2926;
}

.editInfos {
    /* align-self: center; */
    width: 100%;
    /* border: 1px solid #F8C25C; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* width: 80%; */
    padding: 0 1rem;
    gap: 1rem;
}

.containerField {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    /* align-items: center; */
    /* gap: 0.5rem; */
}

.field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.label {
    /* align-self: start; */
    font-size: 1.5rem;
    color: #D1D3D4;
}

.input, .emailInput {
    width: 100%;
    background-color: #0E1725;
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 1.4rem;
    color: #D1D3D4;
}

.emailInput {
    width: 270px;
}

/* .saveContainer {
    width: 100%;
    display: flex;
    align-self: flex-end;
    border: 1px solid white;
    justify-content: flex-end;
} */

.saveBtn {
    /* align-self: flex-end; */
    width: fit-content;
    padding: 8px 15px;
    border: 1px solid #F8C25C;
    background-color: #0e1725;
    border-radius: 10px;
    color: #D1D3D4;
    font-size: 1.5rem;
    cursor: pointer;
}

.saveBtn:hover {
    background-color: #1E2533;
    color: white;
}

.formsContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid aqua; */
    width: 100%;

}

.formProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formSecurity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bluredBgConfirm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    backdrop-filter: blur(6px);
    background: rgba(0, 0, 0, 0.5);
}

.saveConfirmContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1E2533;
    border-radius: 25px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    gap: 2.5rem;
}

.saveConfirmContainer h1, .editEmailContainer h1 {
    font-size: 2.2rem;
    color: #ffffff;
}

.saveConfirmContainer p, .editEmailContainer p {
    color: #D1D3D4;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 300;
}

.saveConfirmContainer label{
    font-size: 1.4rem;
    color: #D1D3D4;
}

.saveConfirmContainer input {
    width: 100%;
    height: 45px;
    background-color: #0E1725;
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 1.2rem;
    color: #D1D3D4;
}

.ConfirmButtons {
    display: flex;
    gap: 4rem;
}

.confirmBtn, .closeBtn {
    background-color: #0E1725;
    padding: 10px 15px;
    font-size: 1.6rem;
    border-radius: 8px;
    cursor: pointer;
    color: #D1D3D4;
}

.fieldError {
    color: #AA2926;
    font-size: 1.2rem;
    font-weight: 800;
}

.confirmBtn:hover, .closeBtn:hover {
    background-color: #1E2533;
    color: #ffffff;
}

.confirmBtn {
    border: 1px solid #F8C25C;
}

.closeBtn {
    border: 1px solid #AA2926;
}

.emailField {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
}

.emailField p {
    font-size: 1.5rem;
    color: #D1D3D4;
    background-color: #0E1725;
    padding: 1.2rem;
    border-radius: 10px;
    width: 75%;
}

.editEmailBtn {
    /* position: absolute; */
    /* right: 10px; */
    width: 25%;
    background-color: #0E1725;
    padding: 5px 12px;
    border: 1px solid #F8C25C;
    border-radius: 8px;
    color: #D1D3D4;
    cursor: pointer;
}

.editEmailBtn:hover {
    background-color: #1E2533;
    color: #ffffff;
}

.editEmailContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1E2533;
    border-radius: 25px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    gap: 2.5rem;
}