.cardContainer {
  /* width: 20rem; */
  width: 100% !important;
  height: 100% !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 1s;
  background-color: transparent !important;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.cardHeader {
  text-align: center;
  padding-bottom: 0.5rem;
}

.iconContainer {
  margin: 0 auto;
  margin-bottom: 0.5rem;
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: bold;
  color: #ccc1c1;
}

.timerContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0.25rem 1rem;
  border-radius: 9999px;
  font-family: monospace;
  font-size: 1.2rem;
  /* border: 1px solid #ccc1c1; */
}

.timerRed {
  background-color: transparent;
  color: #ff4d4d;
}

.timerGray {
  background-color: transparent;
  color: #ccc1c1;
}

.cardContent {
  /* text-align: center; */
  justify-content: center;
  padding-bottom: 1rem;
  background-color: transparent !important;
    padding: 0 !important;
  margin: 0 !important;
}

.playerName {
  color: #ccc1c1;
  margin-bottom: 0;
}

.cardFooter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 0 !important;
  margin: 0 !important;
  padding-bottom: 1rem !important;

}

.acceptButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  color: #38a169;
  border-radius: 9999px;
  transition: background-color 0.2s;
  border-radius: 50%;
  border: 1px solid white;
}

.buttonsWrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.acceptButton:hover {
  border: 1px solid #2f855a;
}

.declineButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  color: #e53e3e;
  border-radius: 9999px;
  transition: background-color 0.2s;
  border-radius: 50%;
  border: 1px solid white;


}

.declineButton:hover {
  border: 1px solid #e53e3e;
}
